@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));


@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-para: #666666;
  --color-heading: #333333;
  --color-normal: #B88E2F;
  --color-footer: #9F9F9F;
}